{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 2,
	"printWidth": 100,
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
