@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background-color: whitesmoke; /* #b1cab5;  #d4a3a3ef;  #b1cab5*/
	font-family: Roboto; /* Monospace;*/
	padding: 0;
	margin: 0;
	min-height: 100vh;
}

html {
	min-height: 100%;
}

button {
	cursor: pointer;
}

.btn {
	font-size: 1em;
	border: 2px solid #709692;
	border-radius: 4px;
	padding: 6px;
	cursor: pointer;
}

.btn-primary {
	background-color: #709692;
	color: whitesmoke;
}

.btn-secondary {
	background-color: white;
	color: #709692;
}

.icon-btn {
	background-color: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
}
